{% load static %}

<!-- ===============================================-->
<!--    breadcrumb starts here -->
<!-- ===============================================-->

<div class="gutter-b mt-9" id="kt_breadcrumbs">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-0 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="" class="text-dark-50">Features</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="" class="text-dark-50">Bootstrap</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="top">
                <a href="#" class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Member</a>
            </div>
            <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="top">
                <a href="#" class="btn btn-fixed-height btn-primary font-weight-bolder font-size-sm px-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   New Report</a>
            </div>
        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    breadcrumb ends here -->
<!-- ===============================================-->