{% load static %}

<!-- ===============================================-->
<!--    column_left starts here -->
<!-- ===============================================-->

<div class="col-md-3">
    <div class="flex-row-auto offcanvas-mobile" id="kt_content_sidebar" data-sticky-container>
        <div class="scroll scroll-pull" data-sticky="true" data-margin-top="100" data-wheel-propagation="true" style="height: 470px">

            <div class="card">
                <div class="card-body p-10">

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-center mb-0">
                                <a href="" class="symbol symbol-60 symbol-circle symbol-xl-60 dropdown" data-toggle="dropdown" data-offset="-54px 20px" data-placement="right">
                                    <div class="symbol-label" style="background-image:url('/static/assets/media/a-team/13.jpg')">
                                    </div>
                                    <i class="symbol-badge bg-info"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-top dropdown-menu-sm">
                                    <div class="card-body">
                                        <div class="row mb-4 justify-content-center">
                                            <div class="image-input image-input-outline" id="kt_user_add_avatar">
                                                <div class="image-input-wrapper" style="background-image: url(/static/assets/media/a-team/01.jpg)"></div>
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change">
                                                        <i class="fa fa-pen icon-sm text-muted"></i>
                                                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                                        <input type="hidden" name="profile_avatar_remove" />
                                                    </label>
                                            </div>
                                        </div>
                                        <div class="row text-center mb-0">
                                            <div class="col-xl-12">
                                                <a href="#" class="label label-danger font-weight-bolder label-inline font-size-sm">LOGOUT</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <span class="text-dark font-weight-bolder font-size-h5">Mia
                                        Adams
                                    </span>
                                </div>
                                <div class="text-dark-50 font-weight-bold font-size-lg">
                                    $username</div>
                                <div class="label label-warning font-weight-bolder label-inline font-size-sm my-2">
                                    500</div>
                                <div class="text-dark-50 font-size-md">
                                    <span class="text-dark-75 font-weight-bolder font-size-md">I care about
                                    </span>
                                    <a href="" class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary">INEQUALITY</a>, <a href="" class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary">UNEMPLOYMENT</a>, <a href="" class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary">HUNGER</a>,
                                    <a href="" class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary">POVERTY</a>, and <a href="" class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary">CLIMATE</a>.</div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="card mt-2">
                <div class="card-body p-10 text-center">
                    <div class="">
                        <span class="font-weight-bold text-dark-75 font-weight-bolder font-size-h2 display-4 mb-0">298</span>
                        <span class="text-muted font-weight-bold font-size-md">/</span>
                        <span class="text-dark-75 font-weight-bold font-size-md">2+</span>



                        <div class="mt-1">
                            <div class="label label-info font-weight-bolder label-inline font-size-sm">
                                SCORE</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    column_left ends here -->
<!-- ===============================================-->