{% load static %}

<!-- ===============================================-->
<!--    column_right starts here -->
<!-- ===============================================-->

<div class="col-md-3">
    <div class="flex-row-auto offcanvas-mobile" id="kt_content_sidebar" data-sticky-container>
        <div class="scroll scroll-pull" data-sticky="true" data-margin-top="100" data-wheel-propagation="true" style="height: 470px">

            <div class="card mb-6">
                <div class="card-body p-10">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-center mb-0">
                                <div class="symbol symbol-30 symbol-xl-30 symbol-white">
                                    <div class=" symbol-label " style="background-image:url( '/static/assets/media/a-logos/logo_secondary_letter.png') ">
                                    </div>
                                </div>

                                <div class="mt-3 ">
                                    <span class="text-dark font-weight-bolder font-size-h4 ">Kenefit
                                    </span>
                                </div>
                                <div class="text-dark-50 font-weight-bold font-size-lg ">
                                    social cause network</div>
                                <a href="" class="label label-primary font-weight-bolder label-inline font-size-sm my-2 ">
                                    INVITE A FELLOW</a>
                                <div class="">
                                    <span class="text-dark-50 font-weight-bold font-size-sm ">Own, monetize, and encrypt your data. More than 205,760 users are ahead of you.
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-center mb-0">
                                <div class="text-dark-50 font-size-md ">
                                    <span class="text-dark-75 font-weight-bolder font-size-md ">I care about
                                </span>
                                    <a href=" " class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary ">INEQUALITY</a>, <a href=" " class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary ">UNEMPLOYMENT</a>,
                                    <a href=" " class="text-dark-50
                                font-size-sm font-weight-bolder text-hover-primary ">HUNGER</a>,
                                    <a href=" " class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary ">POVERTY</a>, and <a href=" " class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary ">CLIMATE</a>.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    column_right ends here -->
<!-- ===============================================-->