{% load static %}

<!-- ===============================================-->
<!--    header starts here -->
<!-- ===============================================-->

<head>
    <base href="../../">
    <meta charset="utf-8" />
    <title>Kenefit :: Social Cause Network</title>
    <meta name="description" content="Create millions of dynamic landing pages in minutes. It's 5x cheaper to scale than hiring agencies and 8x easier to optimize than landing page builders." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="/static/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/schedule.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/pages/login/login.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/static/assets/media/a-logos/logo_primary_letter.png" />
    <link href="/static/assets/css/goat.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/tribute.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/crud.css' %}">

</head>

<!-- ===============================================-->
<!--    header ends here -->
<!-- ===============================================-->

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">