            <div class="subheader bg-white h-100px" id="kt_subheader">
                <div class="container flex-wrap flex-sm-nowrap">

                    <div class="d-none d-lg-flex align-items-center flex-wrap w-200px">

                        <a href="/">
                            <img alt="Kenefit Logo" src="/static/assets/media/a-logos/logo_secondary_letter.png" class="max-h-25px" />
                        </a>

                    </div>

                    <div class="subheader-nav nav flex-grow-1">

                        <a href="/templates/" class="nav-item">
                            <div class="px-10">
                                <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">{{headcounts.pg}}</span>
                                <div class="nav-desc text-muted font-weight-bold font-size-sm">TOTAL PAGES</div>
                            </div>
                        </a>

                        <a href="/templates/domains/" class="nav-item">
                            <div class="vl px-10">
                                <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">{{headcounts.dm}}</span>
                                <div class="nav-desc text-muted font-weight-bold font-size-sm">CUSTOM DOMAINS</div>
                            </div>
                        </a>

                        <div class="nav-item active">
                            <div class="vl px-10">
                                <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">{{headcounts.file}}</span>
                                <div class="nav-desc text-muted font-weight-bold font-size-sm">CSV FILES</div>
                            </div>
                        </div>

                        <a href="/templates/folders/" class="nav-item">
                            <div class="vl px-10">
                                <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">{{headcounts.folder}}</span>
                                <div class="nav-desc text-muted font-weight-bold font-size-sm">MEDIA FOLDERS</div>
                            </div>
                        </a>

                        <a href="/templates/" class="nav-item">
                            <div class="vl px-10">
                                <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">{{headcounts.tm}}</span>
                                <div class="nav-desc text-muted font-weight-bold font-size-sm">ALL TEMPLATES</div>
                            </div>
                        </a>

                    </div>

                </div>
            </div>