{% load static %}

<!-- ===============================================-->
<!--    thread starts here -->
<!-- ===============================================-->

<div class="col-md-6">
    <div class="flex-row-auto" id="">
        <div class="scroll scroll-pull" data-sticky="" data-margin-top="100" data-wheel-propagation="true">

            <!-- ===============================================-->
            <!--    thread_body_actions_user_post starts here -->
            <!-- ===============================================-->

            {% include "main/templates/thread_body_actions_user_post.html" %}

            <!-- ===============================================-->
            <!--    thread_body_actions_user_post ends here -->
            <!-- ===============================================-->

            <!-- ===============================================-->
            <!--    thread_body starts here -->
            <!-- ===============================================-->

            {% include "main/templates/thread_body.html" %}

            <!-- ===============================================-->
            <!--    thread_body ends here -->
            <!-- ===============================================-->

        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    thread ends here -->
<!-- ===============================================-->