{% load static %}


<!-- ===============================================-->
<!--    thread_body_actions_user starts here -->
<!-- ===============================================-->

<div class="dropdown-menu dropdown-menu-top dropdown-menu-md">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-12">
                <div class="text-center mb-0">
                    <div class="symbol symbol-60 symbol-circle symbol-xl-60">
                        <div class=" symbol-label " style="background-image:url( '/static/assets/media/a-team/04.jpg') ">
                        </div>
                        <i class="symbol-badge bg-info "></i>
                    </div>

                    <div class="mt-3 ">
                        <span class="text-dark font-weight-bolder font-size-h6 ">FName LName
                        </span>
                    </div>
                    <div class="text-dark-50 font-weight-bold font-size-lg ">
                        $username</div>
                    <div class="label label-warning font-weight-bolder label-inline font-size-sm my-2 ">
                        500</div>
                    <div class="text-dark-50 font-size-md ">
                        <span class="text-dark-75 font-weight-bolder font-size-md ">I care about
                        </span>
                        <a href=" " class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary ">INEQUALITY</a>, <a href=" " class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary ">UNEMPLOYMENT</a>,
                        <a href=" " class="text-dark-50
                        font-size-sm font-weight-bolder text-hover-primary ">HUNGER</a>,
                        <a href=" " class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary ">POVERTY</a>, and <a href=" " class="text-dark-50 font-size-sm font-weight-bolder text-hover-primary ">CLIMATE</a>.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    thread_body_actions_user ends here -->
<!-- ===============================================-->