{% load static %}

<!-- ===============================================-->
<!--    column_right starts here -->
<!-- ===============================================-->

<div class="col-md-3">
    <div class="flex-row-auto offcanvas-mobile" id="kt_content_sidebar" data-sticky-container>
        <div class="scroll scroll-pull" data-sticky="true" data-margin-top="100" data-wheel-propagation="true" style="height: 470px">

            <div class="card mb-2">
                <div class="d-flex align-items-center pr-6 flex-grow-1">
                    <div class="d-flex flex-column flex-grow-1">
                        <div class="pl-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-column text-left ml-0">
                                    <span class="text-dark font-weight-bolder font-size-lg">John</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--    all_content starts here -->

                    <div class="topbar-item py-6">
                        <a href="" class="" data-toggle="tooltip" title="All Content">
                            <span class="btn btn-icon btn-circle btn-light-danger">
                                <span class="svg-icon svg-icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                        viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M4.00246329,12.2004927 L13,14 L13,4.06189375 C16.9463116,4.55399184 20,7.92038235 20,12 C20,16.418278 16.418278,20 12,20 C7.64874861,20 4.10886412,16.5261253 4.00246329,12.2004927 Z"
                                                fill="#000000" opacity="0.3" />
                                            <path
                                                d="M3.0603968,10.0120794 C3.54712466,6.05992157 6.91622084,3 11,3 L11,11.6 L3.0603968,10.0120794 Z"
                                                fill="#000000" />
                                        </g>
                                    </svg>
                                </span>
                            </span>
                        </a>
                    </div>

                    <!--    all_content ends here -->

                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body p-8 text-center">
                    <div class="row mb-2">
                        <div class="col-xl-12 btn-schedule">
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-2">Poverty</button>
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-0">Poverty</button>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 btn-schedule">
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-2">Poverty</button>
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-0">Poverty</button>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 btn-schedule">
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-2">Poverty</button>
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-0">Poverty</button>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xl-12 btn-schedule">
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-2">Poverty</button>
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-0">Poverty</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 btn-schedule">
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-2">Poverty</button>
                            <button class="btn btn-light font-weight-bolder font-size-sm mr-0">Poverty</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    column_right ends here -->
<!-- ===============================================-->