{% load static %}

<!-- ===============================================-->
<!--    column_center starts here -->
<!-- ===============================================-->

<div class="col-md-6">
    <div class="flex-row-auto" id="">
        <div class="scroll scroll-pull" data-sticky="" data-margin-top="100" data-wheel-propagation="true">

            <div class="card mb-2">
                <div class="d-flex align-items-center pr-6 flex-grow-1">
                    <div class="d-flex flex-column flex-grow-1">
                        <div class="p-6">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-40 symbol-circle symbol-xl-40">
                                    <div class="symbol-label" data-toggle="tooltip" title="Shawn" style="background-image:url('/static/assets/media/team/_adrea.png')">
                                    </div>
                                </div>
                                <div class="d-flex flex-column text-left ml-4">
                                    <span class="text-dark font-weight-bolder font-size-lg">John, <span class="text-muted font-weight-bold">you can save the world</span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--    my_content starts here -->

                    <div class="topbar-item mr-4">
                        <a href="" class="" data-toggle="tooltip" title="My Content">
                            <span class="btn btn-icon btn-circle btn-light-warning">
                                <span class="svg-icon svg-icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                        viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M4.00246329,12.2004927 L13,14 L13,4.06189375 C16.9463116,4.55399184 20,7.92038235 20,12 C20,16.418278 16.418278,20 12,20 C7.64874861,20 4.10886412,16.5261253 4.00246329,12.2004927 Z"
                                                fill="#000000" opacity="0.3" />
                                            <path
                                                d="M3.0603968,10.0120794 C3.54712466,6.05992157 6.91622084,3 11,3 L11,11.6 L3.0603968,10.0120794 Z"
                                                fill="#000000" />
                                        </g>
                                    </svg>
                                </span>
                            </span>
                        </a>
                    </div>

                    <!--    my_content ends here -->

                    <!--    new_content starts here -->

                    <div class="topbar-item mr-4">
                        <div class="">
                            <a href="" class="btn btn-icon btn-circle btn-primary" data-toggle="modal" data-target="#newContentModal">
                                <span class="svg-icon svg-icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                        viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M4.00246329,12.2004927 L13,14 L13,4.06189375 C16.9463116,4.55399184 20,7.92038235 20,12 C20,16.418278 16.418278,20 12,20 C7.64874861,20 4.10886412,16.5261253 4.00246329,12.2004927 Z"
                                                fill="#000000" opacity="0.3" />
                                            <path
                                                d="M3.0603968,10.0120794 C3.54712466,6.05992157 6.91622084,3 11,3 L11,11.6 L3.0603968,10.0120794 Z"
                                                fill="#000000" />
                                        </g>
                                    </svg>
                                </span>
                            </a>
                            <div class="modal fade" id="newContentModal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body p-10">
                                            <div data-scroll="true" data-height="auto">
                                                <div class="mt-0 text-center">
                                                    <span class="text-dark font-weight-bolder font-size-h2">Mia
                                                        Adams
                                                    </span>
                                                </div>
                                                <div class="text-muted font-weight-bold font-size-md mb-4 text-center">
                                                    Banana</div>
                                                <div class="card mb-2">
                                                    <div class="card-body p-10">
                                                        <div class="row mb-2">
                                                            <div class="col-xl-12">
                                                                <input class="form-control form-control-solid font-weight-bold py-6" type="email" disabled placeholder="Email Address" />
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-xl-12">
                                                                <input class="form-control form-control-solid font-weight-bold py-6" type="password" placeholder="Change Password" />
                                                            </div>
                                                        </div>
                                                        <div class="row mb-0">
                                                            <div class="col-xl-12">
                                                                <input class="form-control form-control-solid font-weight-bold py-6" type="password" placeholder="Confirm Password" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card mb-2">
                                                    <div class="card-body p-10">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <div href="#" type="submit" class="btn btn-block btn-primary py-3 font-weight-bolder">
                                                                    SAVE</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--    new_content ends here -->

                    <!--    all_content starts here -->

                    <div class="topbar-item mr-0">
                        <a href="" class="" data-toggle="tooltip" title="All Content">
                            <span class="btn btn-icon btn-circle btn-light-danger">
                                <span class="svg-icon svg-icon-lg">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                        viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M4.00246329,12.2004927 L13,14 L13,4.06189375 C16.9463116,4.55399184 20,7.92038235 20,12 C20,16.418278 16.418278,20 12,20 C7.64874861,20 4.10886412,16.5261253 4.00246329,12.2004927 Z"
                                                fill="#000000" opacity="0.3" />
                                            <path
                                                d="M3.0603968,10.0120794 C3.54712466,6.05992157 6.91622084,3 11,3 L11,11.6 L3.0603968,10.0120794 Z"
                                                fill="#000000" />
                                        </g>
                                    </svg>
                                </span>
                            </span>
                        </a>
                    </div>

                    <!--    all_content ends here -->

                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body p-0">
                    <div class="row mb-0">
                        <a href="#" class="col-xl-12 text-center">
                            <div class="bgi-no-repeat bgi-size-cover rounded min-h-300px mb-0" style="background-image: url(/static/assets/media/gif/ad.gif)"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body p-8">
                    <div class="row mb-0">
                        <a href="#" class="col-xl-12 text-center">
                            <div class="bgi-no-repeat bgi-size-cover rounded min-h-300px mb-0" style="background-image: url(/static/assets/media/gif/ad.gif)"></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-body p-8">
                    <div class="row mb-0">
                        <a href="#" class="col-xl-12 text-center">
                            <div class="bgi-no-repeat bgi-size-cover rounded min-h-300px mb-0" style="background-image: url(static/assets/media/a-topics/04.jpg)"></div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    column_center ends here -->
<!-- ===============================================-->