{% load static %}

<!-- ===============================================-->
<!--    domain_management_list starts here -->
<!-- ===============================================-->

<div class="dropdown-menu dropdown-menu-right dropdown-menu-md">
    <div class="card-body">
        <button type="submit" class="btn btn-block btn-light-primary font-weight-bolder">Connect</button>
        <button type="submit" class="btn btn-block btn-light-primary font-weight-bolder">Disconnect</button>
    </div>
</div>

<!-- ===============================================-->
<!--    domain_management_list starts here -->
<!-- ===============================================-->