{% load static %}

<!-- ===============================================-->
<!--    dropdown_media_management starts here -->
<!-- ===============================================-->

<div class="dropdown-menu dropdown-menu-top dropdown-menu-sm">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-xl-12 btn-schedule">
                <a href="" target="_blank" data-toggle="button" class="btn btn-light font-weight-bolder font-size-sm btn-block">Reload</a>
            </div>
        </div>
        <div class="row text-center mb-0">
            <div class="col-xl-12">
                <a href="#" class="label label-danger font-weight-bolder label-inline font-size-sm">DELETE</a>
            </div>
        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    dropdown_media_management starts here -->
<!-- ===============================================-->