{% load static %}

<!-- ===============================================-->
<!--    dropdown_account_management starts here -->
<!-- ===============================================-->

<div class="dropdown-menu dropdown-menu-left dropdown-menu-sm">
    <div class="card-body text-center">
        <button type="submit" class="btn btn-block btn-light-primary font-weight-bolder mb-2">Remove</button>
            <span class="label label-warning font-weight-bolder label-inline mb-0">Name</span>
    </div>
</div>

<!-- ===============================================-->
<!--    dropdown_account_management starts here -->
<!-- ===============================================-->