{% load static %}

<!-- ===============================================-->
<!--    footer starts here -->
<!-- ===============================================-->

<div class="login-footer bg-white py-10">
    <div class="container d-flex flex-column flex-md-row justify-content-md-center">
        <div class="font-size-h6 font-weight-bolder order-2 order-md-1 py-2 py-md-0">
            <span class="text-muted font-weight-bold mr-2">2021 ©</span>
            <span class="text-dark-50">Southscale :: 76 Cannon Street, London EC4N
					6AE</span>
        </div>
    </div>
</div>

<!-- ===============================================-->
<!--    footer ends here -->
<!-- ===============================================-->