{% load static %}

<!-- ===============================================-->
<!--    navbar starts here -->
<!-- ===============================================-->

<style>
    .vl {
        border-left: 1px solid #EBEDF3;
        height: 54px;
    }
</style>

<div class="subheader bg-white h-100px" id="kt_subheader">
    <div class="container flex-wrap flex-sm-nowrap">

        <div class="d-none d-lg-flex align-items-center flex-wrap w-200px">

            <a href="/">
                <img alt="Southscale Logo" src="/static/assets/media/a-logos/logo_secondary_letter.png" class="max-h-25px" />
            </a>

        </div>

        <div class="subheader-nav nav flex-grow-1">

            <div class="nav-item">
                <div class="px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">10</span>
                    <div class="nav-desc text-muted font-weight-bold font-size-sm">TEAM MEMBERS</div>
                </div>
            </div>

            <div class="nav-item">
                <div class="px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">8</span>
                    <div class="nav-desc text-muted font-weight-bold font-size-sm">CUSTOM DOMAINS</div>
                </div>
            </div>

            <div class="nav-item">
                <div class="vl px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">4</span>
                    <div class="nav-desc text-muted font-weight-bold font-size-sm">CSV FILES</div>
                </div>
            </div>

            <div class="nav-item">
                <div class="vl px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">4</span>
                    <div class="nav-desc text-muted font-weight-bold font-size-sm">MEDIA FOLDERS</div>
                </div>
            </div>

            <div class="nav-item">
                <div class="vl px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-2">160</span>
                    <div class="nav-desc text-muted font-weight-bold font-size-sm">ALL TEMPLATES</div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- ===============================================-->
<!--    navbar ends here -->
<!-- ===============================================-->