<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!-- ===============================================-->
<!--    header starts here -->
<!-- ===============================================-->

<title>{% block title %} Account Update :: Kenefit {% endblock %}</title>
{% include "main/templates/header.html" %}

<!-- ===============================================-->
<!--    header ends here -->
<!-- ===============================================-->

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page bg-light">
        <div class="d-flex flex-column flex-row-fluid">

            <!-- ===============================================-->
            <!--    form_content starts here -->
            <!-- ===============================================-->

            <form autocomplete="on">
                <div class="d-flex flex-column-fluid bg-white pt-20">
                    <div class="container text-center">
                        <div class="d-flex flex-column-fluid flex-center text-center">
                            <div class="form w-800px">
                                <div class="text-center pb-8">
                                    <img alt="Logo" src="/static/assets/media/a-logos/logo_primary_letter.png" class="max-h-20px" />
                                </div>
                                <div class="pb-4 pt-lg-0 pb-8">
                                    <h3 class="font-weight-boldest text-dark font-size-h4 display-4">Account Update
                                    </h3>
                                    <p class="text-muted font-weight-bold font-size-h4">It only takes a few seconds</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column-fluid bg-white pb-20">
                    <div class="container text-center">
                        <div class="d-flex flex-column-fluid flex-center text-center">
                            <div class="form w-800px">
                                <div class="row mb-8">
                                    <div class="col-md-4-goat">
                                        <input class="form-control form-control-solid font-weight-bold h-auto p-6 rounded-lg font-size-h6" type="text" placeholder="Username" />
                                    </div>
                                    <div class="col-md-4-goat">
                                        <input class="form-control form-control-solid font-weight-bold h-auto p-6 rounded-lg font-size-h6" type="text" placeholder="First Name" />
                                    </div>
                                    <div class="col-md-4-goat">
                                        <input class="form-control form-control-solid font-weight-bold h-auto p-6 rounded-lg font-size-h6" type="text" placeholder="Last Name" />
                                    </div>
                                </div>
                                <div class="row mb-0 justify-content-center">
                                    <div class="text-center mt-0">
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            ABUSE</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                AGING</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    AIR</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            ANIMAL</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                BIODIVERSITY</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    BULLYING</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            CLIMATE</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                CONFLICT</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    CORRUPTION</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            CYBERSECURITY</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            DEBT</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                DEFORESTATION</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    DEMOCRATIZATION</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            DESERTIFICATION</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                DISCRIMINATION</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    DISEASES</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            DISPLACEMENT</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                DIVERSITY</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    ECOSYSTEM</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            EDUCATION</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            EXPLOITATION</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                FEMINISM</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    FOOD</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            GENDER</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                HEALTHCARE</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    HOMELESSNESS</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            HUNGER</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                INEQUALITY</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    INJUSTICE</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            INSECURITY</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            LITERACY</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                MALNUTRITION</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    MISINFORMATION</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            MORTALITY</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                OBESITY</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    OVERPOPULATION</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            POLLUTION</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                POVERTY</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    PRIVACY</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            RACISM</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            RIGHTS</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                ROBOTICS</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    SAFETY</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            SEXISM</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                SUSTAINABILITY</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    UNEMPLOYMENT</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            VIOLENCE</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                WASTE</span> <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                                    WATER</span>
                                        <span class="m-1 label label-secondary text-hover-white bg-hover-primary font-weight-bolder label-inline font-size-sm">
                                            WELFARE</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- ===============================================-->
            <!--    form_content ends here -->
            <!-- ===============================================-->

            <!-- ===============================================-->
            <!--    footer starts here -->
            <!-- ===============================================-->

            {% include "main/templates/footer.html" %}

            <!-- ===============================================-->
            <!--    footer ends here -->
            <!-- ===============================================-->

            <!-- ===============================================-->
            <!--    script starts here -->
            <!-- ===============================================-->

            {% include "main/templates/script.html" %}

            <!-- ===============================================-->
            <!--    script ends here -->
            <!-- ===============================================-->

            </body>

</html>