{% load static %}

<!DOCTYPE html>

<html lang="en">

<!-- ===============================================-->
<!--    header starts here -->
<!-- ===============================================-->

<title>{% block title %} Checkout Failed :: Kenefit {% endblock %}</title>
{% include "main/templates/header.html" %}

<!-- ===============================================-->
<!--    header ends here -->
<!-- ===============================================-->

<div class="d-flex flex-column flex-root">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">

        <!-- ===============================================-->
        <!--    account_alert starts here -->
        <!-- ===============================================-->

        <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex flex-column-fluid flex-center text-center">
                <div class="login-form login-signup">
                    <form class="form w-950px" id="">
                        <div class="pb-4 pt-lg-0 pt-0">
                            <h3 class="font-weight-boldest text-dark font-size-h4 display-2">Sorry! We could not bill your card for the Enterprise Plan.</h3>
                            <p class="text-muted font-weight-bold font-size-h4">Dear FName, your payment to upgrade to the
                                <code>Enterprise Plan</code> did not go successfully.</p>
                        </div>

                        <div class="pb-lg-0 pb-5">
                            <a href="/templates/plans/" class="btn btn-primary font-weight-boldest font-size-h6 px-8 py-5 btn-lg">
                                BACK TO PLANS
                            </a>
                        </div>
                    </form>
                </div>



            </div>

            <!-- ===============================================-->
            <!--    footer starts here -->
            <!-- ===============================================-->

            {% include "main/templates/footer.html" %}

            <!-- ===============================================-->
            <!--    footer ends here -->
            <!-- ===============================================-->

        </div>

        <!-- ===============================================-->
        <!--    account_alert ends here -->
        <!-- ===============================================-->

    </div>
</div>

</html>